DATABASE_URL=
ALLOWED_HOSTS=
SECRET_KEY=
DEBUG=
REDIS_URL=

BASE_SUBSCRIPTION_VALUE=39.00

ASAAS_Key=
# When using Asaas sandbox
# If you are not using sandbox, do not delcare this variable
ASAAS_URL=https://sandbox.asaas.com/api/v3/

# Melhor Envio
MELHORENVIO_URL=https://sandbox.melhorenvio.com.br/
MELHORENVIO_CLIENT_ID=
MELHORENVIO_SECRET=
BACKEND_BASE_URL=
JADLOG_ID=2

# Heorku only
DISABLE_COLLECTSTATIC=1
DJANGO_STATIC_HOST=